<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.uc.dei.cm.myfinances.myfinances">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name="pt.uc.dei.cm.myfinances.MyFinancesApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_financeslogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_financeslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pt.uc.dei.cm.myfinances.activities.SignedInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.uc.dei.cm.myfinances.activities.WalletsActivity"
            android:parentActivityName="pt.uc.dei.cm.myfinances.activities.SignedInActivity" />
        <activity
            android:name="pt.uc.dei.cm.myfinances.activities.AddTransactionActivity"
            android:parentActivityName="pt.uc.dei.cm.myfinances.activities.SignedInActivity" />
        <activity
            android:name="pt.uc.dei.cm.myfinances.activities.AddWalletActivity"
            android:parentActivityName="pt.uc.dei.cm.myfinances.activities.WalletsActivity" />
        <activity
            android:name="pt.uc.dei.cm.myfinances.activities.EditWalletActivity"
            android:parentActivityName="pt.uc.dei.cm.myfinances.activities.WalletsActivity" />
        <activity
            android:name="pt.uc.dei.cm.myfinances.activities.EditTransactionActivity"
            android:parentActivityName="pt.uc.dei.cm.myfinances.activities.SignedInActivity" />
        <activity
            android:name="pt.uc.dei.cm.myfinances.activities.BackupOrRestoreActivity"
            android:parentActivityName="pt.uc.dei.cm.myfinances.activities.SignedInActivity" />
        <activity
            android:name="pt.uc.dei.cm.myfinances.activities.DriveActivity"
            android:parentActivityName="pt.uc.dei.cm.myfinances.activities.BackupOrRestoreActivity" />
        <activity
            android:name="pt.uc.dei.cm.myfinances.activities.SettingsActivity"
            android:parentActivityName="pt.uc.dei.cm.myfinances.activities.SignedInActivity"/>
    </application>

</manifest>